

.box-container { 
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  height: 100vh;
  width: 100vh;


}
.box {
  height: 500px;
  width: 200px;
  
}

.header {
  height: 200px;
  width: 200px;
  
}

.profile {
  background-color: #FD9D27;
}

.experience {
  background-color: #278CC2;
}

.education {
  background-color: #EF5B4E;
}

.blog {
  background-color: #3DBB7C;
}

.social {
  background-color: #F66932;
}

.contact {
  background-color: #278CC2;

}

.portfolio {
  background-color: #F66932;

}

.photo-carousel {

}

.photo-carousel img {
    width: 100%;
    height: auto;
}
}
