*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.box-container { 
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  grid-template-areas:
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9"
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.contact-button, .resume-button {
  border: 2px black solid;
  padding: 4%;
  font-size: 1rem;
  margin-top: 5%;
  margin-right: 10px;
}


h1 {
  font-size: 2rem;
}



.box1 {
  background-color: #607d8b;
  grid-area: box1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  
}

.box2 {
  background-color: #263238;
  grid-area: box2;
  
}

.box3 {
  background-color: #b0bec5;
  grid-area: box3;
  
}

.box4 {
  background-color: #cfd8dc;
  grid-area: box4;
}

.box5 {
  background-color: #607d8b;
  grid-area: box5;
}

.box6 {
  background-color: #263238;
  grid-area: box6;
}

.box7 {
  background-color: #b0bec5;
  grid-area: box7;

}

.box8 {
  background-color: #cfd8dc;
  grid-area: box8;

}

.box9 {
  background-image: url("images/DSC_0285.jpg");
  grid-area: box9;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.icons {
  height: 3em;
  width: 3em;
  margin-bottom: 1px;
}

.carousel-image-circles {
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: flex-end;
}

.carousel-image-buttons {
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

}



}
