*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box-container { 
  display: grid;
  grid-auto-rows: 33vh;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  grid-template-areas:
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9"
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.box:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.contact-button, 
.resume-button {
  border: 2px black solid;
  padding: 1%;
  font-size: 1rem;
  margin-top: 3%;
  margin-right: 3%;
  width: 10em;
  height: 3em;
  margin-bottom: 8%;
}

.contact-button:hover{
  color: red;
}

.resume-button:hover{
  color: red;
}  

h1 {
  font-size: 2rem;
  padding-bottom: 5%;
  
}

.box p {
  margin-top: 3%;
  margin-right: 3%;
}

.box1 {
  background-color: #607d8b;
  grid-area: box1;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding-top: 5%;
  padding-right: 0%;
  padding-left: 5%;
  
}

.box2 {
  background-color: #263238;
  grid-area: box2;
  
}

.box3 {
  background-color: #b0bec5;
  grid-area: box3;
  
}

.box4 {
  background-color: #cfd8dc;
  grid-area: box4;
}

.box5 {
  background-color: #607d8b;
  grid-area: box5;
}

.box6 {
  background-color: #263238;
  grid-area: box6;
}

.box7 {
  background-color: #b0bec5;
  grid-area: box7;

}

.box8 {
  background-color: #cfd8dc;
  grid-area: box8;

}

.box9 {
  background-image: url("images/DSC_0285.jpg");
  grid-area: box9;
  background-size: cover;
  display: flex;
}

.icons {
  height: 3em;
  width: 3em;
  margin-bottom: 1px;
}

.carousel-image-circles {
  display: flex;
  justify-content: flex-end;
  margin-left: 75%;
  font-size: 30px;
}

.carousel-image-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.carousel-image-buttons:hover {
  cursor: pointer;
  filter: brightness(120%);
}


.arrow {
  height: 3em;
  width: 3em;
  align-self: center;
  margin: 8%;
  margin-right: 3%
  margin-left: 3%;
}


@media screen and (max-width: 768px) {

  .box-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 20% auto;
    grid-template-areas:
    "box1 box1" 
    "box9 box9"
    "box9 box9"
    "box9 box9"
    "box2 box2"
    "box3 box3" 
    "box4 box4"
    "box5 box5"
    "box6 box6"
    "box7 box7"
    "box8 box8" 
}

  .box {
    height: 50vh;
  }

  .box9 {
    background-position: center;
  }




@media screen and (max-width: 568px) {

  .box-container {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 20% auto;
    grid-template-areas:
    "box1 box1" 
    "box9 box9"
    "box9 box9"
    "box9 box9"
    "box2 box2"
    "box3 box3" 
    "box4 box4"
    "box5 box5"
    "box6 box6"
    "box7 box7"
    "box8 box8" 
  }

  .box {
    height: 50vh;
  }

  .box9 {
    background-position: center;
  }

}







